@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

/* CABEÇALHO */
.cabecalho {
    background-color: #15191C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

/* MENU LATERAL */
.menu-lateral {
    background-color: #15191C;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s
}

.menu-lateral__logo {
    align-self: center;
    width: 110px;
    padding: 16px;
}

.menu-lateral__link {
    align-items: center;
    color: #95999C;
    display: flex;
    height: 64px;
    padding-left: 64px;
}

.menu-lateral__link:hover {
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.menu-lateral__link::before {
    content: "";
    font-size: 24px;
    height: 24px;
    left: 24px;
    position: absolute;
    width: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

.menu-lateral__link:hover {
    color: #FFFFFF;
}

/* MAIN */
.principal {
    display:grid;
    padding: 24px 16px;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

/* ESTRUTURA BÁSICA DO CARTÃO */
.cartao {
    /*Qualquer cooisa que ultrapasse a borda desejamos esconder*/
    background-color: #2C343A;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}
.cartao--destaque{
    margin-bottom: 16px;
}
.cartao__conteudo {
    display:grid;
    grid-template-columns: auto 1fr;
    padding: 16px;
    gap: 8px;
}

.cartao__titulo {
    font-size: 1.3rem;
    font-weight: 700;
    grid-column: span 2;  
}

.cartao__destaque{
  grid-column: span 2;  
}
.cartao__perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;  
}

.cartao__info {
    align-items: center;
    color: #95999C;
    display: flex;
}
.cartao__info--tempo::before{
    content:"\e90c";
    margin-right: 8px;
}
.cartao__info--vizualizacao::before{
    content:"\e90f";
    margin-right: 8px;
}
.cartao__botao{
    align-items: center;
    background-color: #0480DC;
    border-radius: 10px;
    display: flex;
    font-size: 0.9rem;
    justify-self: flex-end;
    justify-content: center;
    height: 40px;
    width: 40px;
}
.cartao__botao--play::before{
    content:"\e90b";
    font-size: 24px;
}
.cartao__botao--destaque{
    width: 100%;
    grid-column: span 2;  
}
.cartao__botao--destaque::before{
    margin-right: 8px;
}
/* SEÇÃO */
.secao{
    display:grid;
    gap:16px;
}
secao__titulo{
    font-size:1.2rem;
    font-weight:700;
}